USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_DEL_USERUPPER]    スクリプト日付: 02/23/2009 13:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_USERUPPER] 
(@Id Int)
AS
IF @Id <> 0
	DELETE FROM T_UserUpper WHERE [Id]=@Id