USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_DEL_PAYTABLE]    スクリプト日付: 02/23/2009 13:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_PAYTABLE]
(@FromDate DateTime)
AS
		DELETE FROM [T_PayTable] 
		WHERE (CONVERT(VARCHAR,[FromDate], 111) = CONVERT(VARCHAR,@FromDate,111)) 
