USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_SEL_PAYREAD]    スクリプト日付: 02/23/2009 13:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_PAYREAD]
(@FromDate DateTime)
AS
		SELECT * FROM [T_PayTable] 
		WHERE (CONVERT(VARCHAR,[FromDate], 111) <= CONVERT(VARCHAR,@FromDate,111)) 
		ORDER BY [FromDate] DESC 
