USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_SEL_USERUPPER]    スクリプト日付: 02/23/2009 13:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_USERUPPER] 
(@Id Int)
AS
BEGIN
	SELECT * FROM [T_UserUpper] WHERE [Id] = @Id ORDER BY [FromDate]
END
