USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_SEL_PAYFROMDATE]    スクリプト日付: 02/23/2009 13:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_PAYFROMDATE]
AS
		SELECT DISTINCT [FromDate] FROM [T_PayTable] 
		ORDER BY [FromDate] DESC
