USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_SEL_USERMONTHLIST]    スクリプト日付: 02/23/2009 13:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_USERMONTHLIST]
	(@Target datetime)
AS
		SELECT DISTINCT [UserId] FROM [T_Schedule] 
		WHERE (LEFT(CONVERT(VARCHAR,[Target], 111),7) = LEFT(CONVERT(VARCHAR,@Target,111),7)) 
		ORDER BY [UserId]
