USE [D:\DONGURIV2\DATA\DONGURI_DATA.MDF]
GO
/****** オブジェクト:  StoredProcedure [dbo].[SP_UPD_PAYTABLE]    スクリプト日付: 02/23/2009 13:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_UPD_PAYTABLE] 
(@FromDate DateTime,
 @SA005 Int,@SA010 Int,@SA015 Int,@SA020 Int,@SA025 Int,@SA030 Int,@SA035 Int,@SA040 Int,@SA045 Int,@SA050 Int,
 @SA055 Int,@SA060 Int,@SA065 Int,@SA070 Int,@SA075 Int,@SA080 Int,@SA085 Int,@SA090 Int,@SA095 Int,@SA100 Int,
 @SB005 Int,@SB010 Int,@SB015 Int,@SB020 Int,@SB025 Int,@SB030 Int,@SB035 Int,@SB040 Int,
 @SC005 Int,@SC010 Int,@SC015 Int,@SC020 Int,@SC025 Int,@SC030 Int,@SC035 Int,@SC040 Int,@SC045 Int,@SC050 Int,
 @SC055 Int,@SC060 Int,@SC065 Int,@SC070 Int,@SC075 Int,@SC080 Int, 
 @KA005 Int,@KA010 Int,@KA015 Int,@KA020 Int,@KA025 Int,@KA030 Int,@KA035 Int,@KA040 Int,@KA045 Int,@KA050 Int,
 @KA055 Int,@KA060 Int,@KA065 Int,@KA070 Int,@KA075 Int,@KA080 Int,@KA085 Int,@KA090 Int,@KA095 Int,@KA100 Int,
 @KB005 Int,@KB010 Int,@KB015 Int,@KB020 Int,@KB025 Int,@KB030 Int,@KB035 Int,@KB040 Int,
 @KC005 Int,@KC010 Int,@KC015 Int,@KC020 Int,@KC025 Int,@KC030 Int,@KC035 Int,@KC040 Int,@KC045 Int,@KC050 Int,
 @KC055 Int,@KC060 Int,@KC065 Int,@KC070 Int,@KC075 Int,@KC080 Int, 
 @IA005 Int,@IA010 Int,@IA015 Int,@IA020 Int,@IA025 Int,@IA030 Int,@IA035 Int,@IA040 Int,@IA045 Int,@IA050 Int,
 @IA055 Int,@IA060 Int,@IA065 Int,@IA070 Int,@IA075 Int,@IA080 Int,@IA085 Int,@IA090 Int,@IA095 Int,@IA100 Int,
 @IB005 Int,@IB010 Int,@IB015 Int,@IB020 Int,@IB025 Int,@IB030 Int,@IB035 Int,@IB040 Int,
 @IC005 Int,@IC010 Int,@IC015 Int,@IC020 Int,@IC025 Int,@IC030 Int,@IC035 Int,@IC040 Int,@IC045 Int,@IC050 Int,
 @IC055 Int,@IC060 Int,@IC065 Int,@IC070 Int,@IC075 Int,@IC080 Int)
AS
	DELETE FROM [T_PayTable] 
	WHERE (CONVERT(VARCHAR,[FromDate], 111) = CONVERT(VARCHAR,@FromDate,111)) 

	INSERT INTO [T_PayTable] ([FromDate],[SA005],[SA010],[SA015],[SA020],[SA025],[SA030],[SA035],[SA040],[SA045],[SA050],
									   [SA055],[SA060],[SA065],[SA070],[SA075],[SA080],[SA085],[SA090],[SA095],[SA100],
	                                   [SB005],[SB010],[SB015],[SB020],[SB025],[SB030],[SB035],[SB040],
	                                   [SC005],[SC010],[SC015],[SC020],[SC025],[SC030],[SC035],[SC040],[SC045],[SC050],
									   [SC055],[SC060],[SC065],[SC070],[SC075],[SC080],
	                                   [KA005],[KA010],[KA015],[KA020],[KA025],[KA030],[KA035],[KA040],[KA045],[KA050],
									   [KA055],[KA060],[KA065],[KA070],[KA075],[KA080],[KA085],[KA090],[KA095],[KA100],
	                                   [KB005],[KB010],[KB015],[KB020],[KB025],[KB030],[KB035],[KB040],
	                                   [KC005],[KC010],[KC015],[KC020],[KC025],[KC030],[KC035],[KC040],[KC045],[KC050],
									   [KC055],[KC060],[KC065],[KC070],[KC075],[KC080],
	                                   [IA005],[IA010],[IA015],[IA020],[IA025],[IA030],[IA035],[IA040],[IA045],[IA050],
									   [IA055],[IA060],[IA065],[IA070],[IA075],[IA080],[IA085],[IA090],[IA095],[IA100],
	                                   [IB005],[IB010],[IB015],[IB020],[IB025],[IB030],[IB035],[IB040],
	                                   [IC005],[IC010],[IC015],[IC020],[IC025],[IC030],[IC035],[IC040],[IC045],[IC050],
									   [IC055],[IC060],[IC065],[IC070],[IC075],[IC080])
    VALUES (@FromDate,@SA005,@SA010,@SA015,@SA020,@SA025,@SA030,@SA035,@SA040,@SA045,@SA050,
                      @SA055,@SA060,@SA065,@SA070,@SA075,@SA080,@SA085,@SA090,@SA095,@SA100,
                      @SB005,@SB010,@SB015,@SB020,@SB025,@SB030,@SB035,@SB040,
                      @SC005,@SC010,@SC015,@SC020,@SC025,@SC030,@SC035,@SC040,@SC045,@SC050,
                      @SC055,@SC060,@SC065,@SC070,@SC075,@SC080,
                      @KA005,@KA010,@KA015,@KA020,@KA025,@KA030,@KA035,@KA040,@KA045,@KA050,
                      @KA055,@KA060,@KA065,@KA070,@KA075,@KA080,@KA085,@KA090,@KA095,@KA100,
                      @KB005,@KB010,@KB015,@KB020,@KB025,@KB030,@KB035,@KB040,
                      @KC005,@KC010,@KC015,@KC020,@KC025,@KC030,@KC035,@KC040,@KC045,@KC050,
                      @KC055,@KC060,@KC065,@KC070,@KC075,@KC080,
                      @IA005,@IA010,@IA015,@IA020,@IA025,@IA030,@IA035,@IA040,@IA045,@IA050,
                      @IA055,@IA060,@IA065,@IA070,@IA075,@IA080,@IA085,@IA090,@IA095,@IA100,
                      @IB005,@IB010,@IB015,@IB020,@IB025,@IB030,@IB035,@IB040,
                      @IC005,@IC010,@IC015,@IC020,@IC025,@IC030,@IC035,@IC040,@IC045,@IC050,
                      @IC055,@IC060,@IC065,@IC070,@IC075,@IC080)
